


.single-about {
    border: 1px solid $border_grey;
    padding: 40px 20px;
    float: left;
    width: 370px;
    margin-right: 10px;
        &:last-child {
            margin-right: 0;
            margin-left: 20px;
                h4 {
                    text-transform: uppercase;
                    font-size: 26px;
                    font-weight: 500;
                    p {
                        margin: 20px 0;
                        a {
                            color: $black;
                        }
                    }
                }
            }
    } 